{:paths ["src"]
 :deps {org.clojure/clojure              {:mvn/version "1.11.1"}
        io.github.judepayne/dictim       {:git/tag "0.5.5" :git/sha "5313f41"}
        io.github.judepayne/dictim.graph {:git/tag "0.1.4" :git/sha "b062c62"}}}
